<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "GuitaRigTube", root_path, :class => "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-list"></i> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left form-inline" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to(raw('<i class="glyphicon glyphicon-edit"></i> Edit Profile'), edit_user_registration_path) %>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <%= link_to(raw('<i class="glyphicon glyphicon-log-out"></i> Log Out'), destroy_user_session_path, :method => :delete) %>
                </li>
              </ul>
          </li>
        <% else %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-log-in"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu sign-in">
                <%= form_for(@user, url: session_path(@user), :html => {:class => "sign-in-form"}, ) do |f| %>
                  <div class="form-group">
                    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Email" %>
                  </div>
                  <div class="form-group">
                    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
                  </div>
                  <% if devise_mapping.rememberable? -%>
                    <div class="form-group">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>
                  <div class="form-group">
                    <%= f.submit "Log in", class: "btn btn-primary" %>
                  </div>
                  <%= render "users/shared/links" %>
                <% end %>
                <li role="separator" class="divider"></li>
                <div class="social-media-sign-in">
                  <li>
                    or sign in with:
                  </li>
                  <li>
                    <ul class="list-inline text-center social-media-sign">
                      <li><a href="#" class="social-media-btn"><%= image_tag("social-media/facebook.png", :class => "img-circle") %></a></li>
                      <li><a href="#" class="social-media-btn"><%= image_tag("social-media/twitter.png", :class => "img-circle") %></a></li>
                      <li><a href="#" class="social-media-btn"><%= image_tag("social-media/googleplus.png", :class => "img-circle") %></a></li>
                    </ul>
                  </li>
                </div>
              </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>