@import "bootstrap-sprockets"
@import "bootstrap"
@import "compass"

.sign-in-form
	padding: 10px

.sign-in
	width: 450%

.remember-me-text
	margin-left: 5px

.forgot-text
	margin-left: 5px

.social-media-sign-in
	padding: 10px

.social-media-sign
	padding: 10px
	.social-media-btn
		opacity: 0.4
		@include transition(opacity, 0.5s ease-out)
	.social-media-btn:hover
		opacity: 1

.appbar
	border-top: 1px solid #EEEEEE