<!DOCTYPE html>
<html>
<head>
  <title>GuitaRigTube</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navigation' %>
<% if notice %>
  <p class="alert alert-success" role="alert"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger" role="alert"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
